.elga_table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
.elga_table td {
    border: 1px solid #C4C4C4;
}

div.elga_content {
    margin: 0 auto;
    width: 100%;
}
div.elga_cell {
    min-width: 25%;
    min-height: 10em;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}
div.elga_cell a {
    font-weight: bold;
    font-size: 110%;
}


.elga_thumbnails {
    /* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
    /*margin: -3em 0 0 -2em;*/
    margin: 0;
    text-align: center;
}

.elga_thumbnail {
    /* Убираем подчеркивание у элемента ins,
    который был использован для совместимости со старыми версиями Internet Explorer */
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 1.3em 0 0 1.5em;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-radius: 4px;
}

.elga_thumbnail .elga_r {
    /* Если есть необходимость, то свойства padding, border, background и position со значением relative
    лучше задавать у этого элемента -- это несколько расширит количество поддерживаемых версий браузеров */

    width: 14em;
    min-height: 10em;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #CECECE; /*#DDD; #C4C4C4; */
}

.elga_thumbnail .elga_display {
    min-width: 14em;
    min-height: 10em;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #CECECE;
}

.elga_thumbnail .elga_r a {
    font-weight: bold;
    font-size: 110%;
}

.elga_thumbnail .elga_r a.elga_edit {
    font-weight: normal;
    font-size: 90%;
}

.elga_item {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 1.3em 0px 0px 0.5em;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 0px rgba(99,99,99,0.77);
}

.elga_item .elga_r {
    min-height: 8em;
    display: inline-block;
    border: none;
    min-width: 8em;
}

.elga_album_descr {
    text-transform: none;
    font-size: 0.8em;
    line-height: 1.29em;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    /*display: block;*/
}
